
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #228b22;
}

#bandacr {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bandacr img {
    width: 700px;
    height: auto;
    margin-top: -120px;
    margin-right: 20px;
}

h1 {
    width: 300px;
    height: 60px;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: -170px;
    background-color: #9acd32;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    color: #03350e;
}

.secciones {
    width: 600px;
    height: 60px;
    padding-top: 80px;
}

.secciones a:hover {
    color: #03350e;
    background-color: aliceblue;
}

.secciones a {
    text-decoration: none;
    color: #03350e;
    padding: 10px 30px;
    border: 1px solid green;
    background-color: #e7fc9ba9;
    border-radius: 50px;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 20px;
}

.info-h {
    width: 100%;
    height: 700px;
    padding-top: 20px;
}

.info-h {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.jugar {
    width: 400px;
    height: 500px;
    padding: 30px 20px;
    margin-left: 50px;
    background-color: #e7fc9b;
    border: 1px solid #03350e;
    border-radius: 20px 20px 30px 30px;
}

.jugar h2 {
    width: 400px;
    height: 30px;
    margin-bottom: 30px;
    background-color: #9acd32;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    color: #03350e;
}

.jugar p {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
}

.jugar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipo {
    width: 450px;
    height: 300px;
    padding: 30px 20px;
    margin-left: 50px;
    background-color: #e7fc9b;
    border: 1px solid #03350e;
    border-radius: 20px 20px 30px 30px;
}

.equipo h2 {
    width: 400px;
    height: 30px;
    margin-bottom: 30px;
    background-color: yellowgreen;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    color: #03350e;
}

.equipo p {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
}

.labanda img {
    width: 100px;
    height: auto;
}

.experienc {
    width: 100%;
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experienc h3 {
    background-color: #9acd32;

}

.trabajos h4 {
    width: 500px;
    height: 25px;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    font-size: 12pt;
    color: #03350e;
}

.trabajos p {
    font-family: 'Geist';
    font-style: normal;
    margin: 5px 0px 30px 0px;
    font-weight: 400;
    font-size: 10pt;
    color: #03350e;
}

.trabajos div h3 {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    font-size: 15pt;
    margin: 30px 10px 50px 10px;
}

.trabajos h3 {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    font-size: 15pt;
    margin: 30px 0px 15px 10px;
    color: #03350e;
}

.trabajos {
    width: 800px;
    height: 600px;
    padding: 20px 100px 100px 100px;
    border: 1px solid #03350e;
    background-color: #e7fc9ba9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fotos li {
    width: 350px;
    height: 200px;
    padding: 30px 30px 80px;
    border: 2px solid #03350e;
    border-radius: 10px;
    background-color: #e7fc9b;
    display: flex;
    flex-direction: column;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.galeria h3 {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    font-size: 15pt;
    margin-left: 90px;
    color: #03350e;
}

.galeria h6 {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 800;
    font-size: 9pt;
    color: #03350e;
}

.galeria p {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100;
    font-size: 10pt;
    color: #03350e;
    padding: 20px 0px 5px 0px;
}

.galeria {
    width: 980px;
    height: 600px;
    padding: 50px 60px 150px 60px;
}

.galeria ul li {
    list-style: none;
    margin: 40px 10px;
}

.quienes {
    width: 100%;
    height: 1250px;
}

.quienes ol li {
    list-style: none;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    font-size: 10pt;
}

.quienes img {
    width: 200px;
    height: auto;
    padding-bottom: 30px;
}

.quienes article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
}

.quienes h4 {
    width: 200px;
    height: 30px;
    padding: 10px 50px 0px 0px;
    margin: -25px;
    background-color: #004119;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    font-size: 12pt;
    font-kerning: auto;
    color: #e7fc9b;
    text-align: center;
}

.quienes ol {
    padding-top: 40px;
}

.romulo {
    width: 200px;
    height: 370px;
    padding: 30px 25px 60px 25px;
    background-color: #e7fc9b;;
    border: 5px solid #004119;
    border-radius: 20px;
}

.roco {
    width: 200px;
    height: 350px;
    padding: 50px 25px 60px 25px;
    background-color: #e7fc9b;;
    border: 5px solid #004119;
    border-radius: 20px;
}

.remo {
    width: 200px;
    height: 350px;
    padding: 50px 25px 60px 25px;
    background-color: #e7fc9b;
    border: 5px solid #004119;
    border-radius: 20px;
}

aside {
    width: 800px;
    height: 300px;
    padding: 30px 0px;
    margin: 150px 300px 0px 300px;
    background-color: #e7fc9ba9;
    border: 1px solid #03350e;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.refes {
    width: 300px;
    height: 250px;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    font-size: 10pt;
}

.bandacachorra {
    width: 200px;
    height: 200px;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    font-size: 10pt; 
}

.miren {
    width: 100%;
    height: 250px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.miren a {
    padding-top: 50px;
    padding-bottom: 30px;
    text-decoration: none;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    font-size: 15pt;
    color: #03350e;
}

.miren ul li {
    list-style: none;
    display: inline;
    padding: 20px;
}

