
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(147, 240, 138);
    background-size: 100% 100%;
    
}

#bandacr {
    width: 1350px;
    height: 650px;
}

#bandacr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secciones {
    width: 900px;
    height: 350px;
    padding-left: 80px;
    padding-top: 30px;
    font-family: Kodchasan;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.secciones a {
    text-decoration: none;
}

a:link {
    color: rgba(34, 23, 10, 0.938);
}

.q {
    width: 170px;
    height: 50px;
}

.t {
    width: 170px;
    height: 50px;
}

.e {
    width: 170px;
    height: 50px;
}

h1 {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40pt;
    width: 600px;
    height: 160px;
    margin-left: 100px;
    margin-bottom: 80px;
}

main {
    width: 100%;
    height: 650px;
    padding-bottom: 100%;
}

.info-h h2 {
    width: 80px;
    height: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    font-family: "Kodchasan";
    font-size: 15pt;
    text-transform: uppercase;
}

.a {
    width: 300px;
    height: 360px;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    text-align: left;
    margin-top: 100px;
    margin-left: 170px;
}

.b {
    width: 450px;
    height: 300px;
    margin-right: 50px;
    margin-top: 20px;
    border: 5px solid rgba(34, 23, 10, 0.938);
    border-radius: 8px 8px;
    background-color: rgb(134, 114, 32);
}

.hacen {
    width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

aside {
    width: 1250px;
    height: 180px;
    padding-top: 150px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

aside p {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 10pt;
    text-align: left
}

h6 {
    font-family: "Kodchasan";
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.objetos {
    width: 250px;
    height: 150px;
    padding: 10px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(34, 23, 10, 0.938);
}

.tresr {
    width: 250px;
    height: 200px;
    padding: 10px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(34, 23, 10, 0.938);
}

.info-s {
    width: 1200px;
    height: 1000px;
    padding-left: 140px;
    padding-top: 300px;
}

.info-s h2 {
    width: 80px;
    height: 30px;
    padding-bottom: 60px;
    margin-left: -105px;
    font-family: "Kodchasan";
    font-size: 15pt;
    text-transform: uppercase;
}

.somosr {
    width: 1000px;
    height: 980px;
    display: flex;
    flex-direction: row;
}

.somosr h4 {
    width: 130px;
    height: 60px;
    padding-top: 9px;
    margin-left: -100px;
    background-color: beige;
    border: 3px solid #22170aef;
    border-radius: 8px 8px;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25pt;
    text-align: center;
}

.somosr p {
    width: 140px;
    height: 170px;
    padding-top: 20px;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
}

.romulo h4 {
    width: 160px;
    margin-top: 15px;
}

.romulo {
    padding-left: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.remo {
    padding-left: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.roco h4 {
    margin-top: 30px;
}

.roco {
    padding-left: 50px;
    padding-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.info-c {
    width: 1190px;
    height: 1000px;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-c h3 {
    width: 900px;
    height: 100px;
    margin-top: 200px;
    margin-left: 50px;
}

h3 {
    width: 100px;
    height: 18px;
    /*font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;*/
    font-family: "Kodchasan";
    font-size: 20pt;
    text-align: left;
}

.galeria ul {
    width: 800px;
    height: 500px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.galeria li {
    width: 300px;
    height: 160px;
    margin: auto;
    border: 3px solid rgba(34, 23, 10, 0.938);
    border-radius: 8px 8px;
    background-color: beige;
    padding: 35px;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 8pt;
}

.miren h5 {
    font-family: "Kodchasan";
    font-size: 15pt;
    padding-bottom: 50px;
    margin-left: -30px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.miren li {
    width: 70px;
    height: 30px;
    padding: 10px;
    margin: 25px;
    list-style: none;
}

.miren {
    width: auto;
    height: 980px;
    margin: auto;
    padding-top: 650px;
    padding-left: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.miren ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


